import(dispRity)
import(stats)
import(grDevices)
import(graphics)
importFrom("ellipse", "plotcorr")

## Functions
export(reduce.space)
export(vdp.make)
export(vdp.dispRity)
export(vdp.plot)
export(vdp.check.table)

## Simulations (paper)
export(space.simulation)
export(shift.group.simulation)
export(metrics.simulation)
export(test.simulation)
export(fast.disparity)

## Plot utilities (paper)
export(plot.space)
export(plot.results)
export(plot.metrics)
export(pairwise.plot)
export(rarefaction.plot)

## Fable utilities (paper)
export(generate.fable.plot)
export(generate.fable.empirical)
export(plot.id)
export(s.test)

## Simulation utilities (paper)
export(extract.results)
export(summarise.metrics)
export(save.results)
export(load.results)