import(dispRity)
import(stats)
import(grDevices)
import(graphics)

## Functions
export(reduce.space)

## Plot utilities
export(plot.space)
export(plot.results)
export(plot.metrics)

## Analysis (paper)
export(fast.disparity)
export(run.reduce.spaces)
export(simulate.metrics)
export(summarise.metrics)
export(simulation.spaces)
export(simulation.rarefaction)
export(save.results)
export(load.results)