import(dispRity)
import(stats)
import(grDevices)
import(graphics)
importFrom("shinyMatrix", "matrixInput")

## Functions
export(reduce.space)
export(make.vdp)
export(dispRity.vdp)
export(plot.vdp)

## Plot utilities
export(plot.space)
export(plot.results)
export(plot.metrics)

## Analysis (paper)
export(generate.fable.plot)
export(generate.fable.empirical)
export(plot.id)
export(s.test)
export(test.metrics)
export(extract.results)
export(fast.disparity)
export(run.reduce.spaces)
export(simulate.metrics)
export(summarise.metrics)
export(simulation.spaces)
export(simulation.rarefaction)
export(save.results)
export(load.results)